<div class="pane armor flexcol flex-group-center">
  {{#each system.hp}}
  <div class="resource-label">{{localize (concat "MWDESTINY.hardware.armorLocation." @key)}}</div>
  <div class="flexrow">
    <div class="resource-label">{{localize "MWDESTINY.hardware.armor"}}:</div>
    <input type="number" name="system.hp.{{@key}}.armor.value" value="{{this.armor.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="number" name="system.hp.{{@key}}.armor.max" value="{{this.armor.max}}" data-dtype="Number"/>
  </div>
  <div class="flexrow">
    <div class="resource-label">{{localize "MWDESTINY.hardware.structure"}}:</div>
    <input type="number" name="system.hp.{{@key}}.structure.value" value="{{this.structure.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="number" name="system.hp.{{@key}}.structure.max" value="{{this.structure.max}}" data-dtype="Number"/>
  </div>
  {{/each}}
</div>