<div class="pane armor flexcol flex-group-center">
  {{#each (lookup system.hp system.hardwareType)}}
  <div class="resource-label">{{localize (concat "MWDESTINY.hardware.hitLocation." ../system.hardwareType "." @key)}}</div>
  {{#unless (eq @key "structuralIntegrity")}}
  <div class="flexrow">
    <div class="resource-label">{{localize "MWDESTINY.hardware.armor"}}:</div>
    <input type="number" name="system.hp.{{../system.hardwareType}}.{{@key}}.armor.value" value="{{this.armor.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="number" name="system.hp.{{../system.hardwareType}}.{{@key}}.armor.max" value="{{this.armor.max}}" data-dtype="Number"/>
  </div>
  {{/unless}}
  {{#unless (and (eq ../system.hardwareType "aerospace") (ne @key "structuralIntegrity"))}}
  <div class="flexrow">
    <div class="resource-label">{{localize "MWDESTINY.hardware.structure"}}:</div>
    <input type="number" name="system.hp.{{../system.hardwareType}}.{{@key}}.structure.value" value="{{this.structure.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="number" name="system.hp.{{../system.hardwareType}}.{{@key}}.structure.max" value="{{this.structure.max}}" data-dtype="Number"/>
  </div>
  {{/unless}}
  {{/each}}
</div>