<section class="heat-pane flexcol flex0">
  <input type="text" class="flex-center" value="{{localize system.heatEffect}}" disabled/>

  <div class="flexrow">
    <div class="flexcol">
      <div class="flexrow">
        <label for="heat" class="resource-label">{{localize "MWDESTINY.hardware.heat"}}</label>
        <input type="number" id="heat" name="system.heat" value="{{system.heat}}" data-dtype="Number" disabled/>
      </div>

      <div class="flexrow">
        <label for="heatBuildup" class="resource-label">{{localize "MWDESTINY.hardware.heatBuildup"}}</label>
        <input type="number" id="heatBuildup" name="system.heatBuildup" value="{{system.heatBuildup}}" data-dtype="Number" disabled/>
      </div>
    </div>

    <div class="flexcol">
      <div class="flexrow">
        <label for="movement" class="resource-label">{{localize "MWDESTINY.hardware.movement"}}</label>
        <input type="number" id="movement" value="{{system.movement}}" data-dtype="Number" disabled/>
      </div>
      {{#if }}
      <button type="button" class="jump-jet-btn"{{#unless (and system.hasJumpJets (or (eq system.hardwareType "mech") (eq system.hardwareType "battleArmor")))}}disabled{{/unless}}>
        {{localize "MWDESTINY.sheet.fireJumpJets"}}
      </button>
      {{/if}}
    </div>
  </div>
</section>
