<section class="heat-pane flexcol flex0">
  <input type="text" class="flex-center" value="{{localize system.heatEffect}}" disabled/>

  <div class="flexrow">
    <div class="flexcol">
      <div class="flexrow">
        <label for="system.heat" class="resource-label">{{localize "MWDESTINY.hardware.heat"}}</label>
        <input type="number" id="system.heat" name="system.heat" value="{{system.heat}}" data-dtype="Number" disabled/>
      </div>

      <div class="flexrow">
        <label for="system.heatBuildup" class="resource-label">{{localize "MWDESTINY.hardware.heatBuildup"}}</label>
        <input type="number" id="system.heatBuildup" name="system.heatBuildup" value="{{system.heatBuildup}}" data-dtype="Number" disabled/>
      </div>
    </div>

    <div class="flexcol">
      <div class="flexrow">
        <label for="system.movement" class="resource-label">{{localize "MWDESTINY.hardware.movement"}}</label>
        <input type="number" id="system.movement" value="{{system.movement}}" data-dtype="Number" disabled/>
      </div>
    </div>
  </div>
</section>
