<div class="grid grid-4col">
  {{!-- Row 1 --}}
  <label for="system.hardwareType" class="resource-label">{{localize "MWDESTINY.hardware.type"}}</label>
  <select class="flex2" name="system.hardwareType">
    {{selectOptions MWDESTINY.hardwareTypes selected=system.hardwareType localize=true}}
  </select>

  <label for="system.pilotId" class="resource-label">{{localize "MWDESTINY.hardware.pilot"}}</label>
  <select class="flex2" name="system.pilotId">
    {{selectOptions pilots nameAttr="id" labelAttr="name" blank="———" selected=system.pilotId}}
  </select>

  {{!-- Row 2 --}}
  {{!-- Heat, then 2col heat effect --}}
  <label for="system.heat" class="resource-label">{{localize "MWDESTINY.hardware.heat"}}</label>
  <input type="number" class="heat-field" name="system.heat" value="{{system.heat}}" data-dtype="Number"/>

  {{!-- Row 3 --}}
  <label for="system.weightClass" class="resource-label">{{localize "MWDESTINY.hardware.weightClass"}}</label>
  <input class="flex2" type="text" name="system.weightClass" value="{{localize (concat "MWDESTINY.hardware.weightClasses." system.weightClass)}}" data-dtype="String" disabled/>

  <label for="system.woundPenalty" class="resource-label">{{localize "MWDESTINY.mechanic.woundPenalty"}}</label>
  <input class="flex2" type="text" name="system.woundPenalty" value="{{system.woundPenalty}}" data-dtype="Number" disabled/>

  {{!-- Row 4 --}}
  <button type="button" class="piloting-test grid-span-2">{{localize "MWDESTINY.hardware.pilotingTestBtn"}}</button>
  <button type="button" class="repair-btn grid-span-2">{{localize "MWDESTINY.hardware.repairBtn"}}</button>
</div>
