<div class="flexcol">
  <div class="flexcol">
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.hardware.type"}}</label>
      <select name="system.hardwareType">
        {{selectOptions MWDESTINY.hardwareTypes selected=system.hardwareType localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.hardware.pilot"}}</label>
      <select name="system.pilotId">
        {{selectOptions ownedPcs nameAttr="id" labelAttr="name" blank="———" selected=system.pilotId}}
      </select>
    </div>
  </div>
  <div class="flexrow">
    <button type="button" class="roll-test" data-roll-label="{{localize "MWDESTINY.mechanic.test" name=(localize (concat "MWDESTINY.skills.weapon." system.weaponSkillType))}}"
      data-attr="{{system.pilotingSkill.system.link}}" data-skill-name="{{localize (concat "MWDESTINY.skills.weapon." system.weaponSkillType)}}"
      data-skill-rank="{{system.pilotingSkill.system.rank}}">
      {{localize "MWDESTINY.hardware.pilotingTestBtn"}}
    </button>
    <button type="button" class="repair-btn">{{localize "MWDESTINY.hardware.repairBtn"}}</button>
  </div>
</div>
