<div class="stats flexrow flex-group-center">
  {{#each system.attributes as |attr key|}}
  <div class="stat flexcol">
    <a class="resource-label roll-test" data-attr="{{key}}" data-roll-label="{{caps key}} {{localize "MWDESTINY.mechanic.test"}}">{{caps key}}</a>
    <input type="number" name="system.attributes.{{key}}" value="{{attr}}"/>
  </div>
  {{/each}}
</div>