<form class="flexcol flex-group-center">
  <div class="resource-label">{{title}}</div>
  <div class="flexrow">
    <div class="flexcol">
      <div class="resource-label">{{localize "MWDESTINY.mechanic.attribute"}}{{#unless skillRank}} 1{{/unless}}</div>
      <select disabled>
        {{selectOptions MWDESTINY.attributes selected=attr}}
      </select>
    </div>
    {{#if isSkill}}
    <div class="flexcol">
      <div class="resource-label">{{localize "MWDESTINY.skills.rank"}}</div>
      <input type="Number" name="skill-rank" value="{{skillRank}}" disabled/>
    </div>
    {{else}}
    <div class="flexcol">
      <div class="resource-label">{{localize "MWDESTINY.mechanic.attribute"}} 2</div>
      <select name="attr2">
        {{selectOptions MWDESTINY.attributes selected=attr}}
      </select>
    </div>
    {{/if}}
  </div>
  <select name="difficulty">
    {{selectOptions MWDESTINY.rollDifficulties blank=(localize "MWDESTINY.dialog.difficulty.opposed") localize=true}}
  </select>
  <div class="flexrow">
    <label>{{localize "MWDESTINY.dialog.rollModifier"}}:</label>
    <input type="number" placeholder="0" name="mod" data-dtype="Number"/>
  </div>
</form>