<form class="flexcol">
  {{#if targetName}}
  <div>
    {{localize "MWDESTINY.mechanic.target" name=targetName}}
  </div>
  {{/if}}
  <div class="flexrow">
    <div class="flexcol">
      <div>{{localize "MWDESTINY.mechanic.attribute"}}{{#unless skillRank}} 1{{/unless}}</div>
      <select disabled>
        {{selectOptions MWDESTINY.attributes.pc selected=attr}}
      </select>
    </div>
    {{#if skillName}}
    <div class="flexcol">
      <div>{{localize "MWDESTINY.skills.rank"}}</div>
      <input type="Number" name="skill-rank" value="{{skillRank}}" disabled/>
    </div>
    {{else}}
    <div class="flexcol">
      <div>{{localize "MWDESTINY.mechanic.attribute"}} 2</div>
      <select name="attr2">
        {{selectOptions MWDESTINY.attributes.pc selected=attr blank=(localize "MWDESTINY.skills.unskilled")}}
      </select>
    </div>
    {{/if}}
  </div>
  {{#unless targetName}}
  <div class="flexcol flex-group-left flex-between">
    <label>{{localize "MWDESTINY.mechanic.difficulty"}}:</label>
    {{radioBoxes "difficulty" MWDESTINY.rollDifficulties checked="3d6" localize=true}}
  </div>
  {{/unless}}
  <div class="flexrow">
    <label>{{localize "MWDESTINY.dialog.rollModifier"}}:</label>
    <input type="number" placeholder="0" name="mod" data-dtype="Number" autofocus/>
  </div>
</form>