<div class="flexcol">
  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.hardware.heat"}}</label>
    <input type="number" name="system.heat" value="{{system.heat}}" data-dtype="Number"/>

    <label class="resource-label">{{localize "MWDESTINY.hardware.location"}}</label>
    <input type="text" name="system.location" value="{{system.location}}" data-dtype="String"/>
  </div>

  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.hardware.missileDice"}}</label>
    <input type="number" name="system.missileDice" value="{{system.missileDice}}" data-dtype="Number"/>

    <label class="resource-label">{{localize "MWDESTINY.hardware.missileMaxDamage"}}</label>
    <input type="number" name="system.missileMaxDamage" value="{{system.missileMaxDamage}}" data-dtype="Number"/>
  </div>

  <div class="flexrow">
    {{> "systems/mw-destiny/templates/parts/item/weapon-skill.hbs"}}
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.hardware.cluster"}}</label>
      <input type="number" name="system.cluster" value="{{system.cluster}}" data-dtype="Number"/>
    </div>
  </div>
</div>
