<div class="flexcol">
  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.combat.damage"}}</label>
    <input type="Number" name="system.baseDamage" value="{{system.baseDamage}}" data-dtype="Number"/>

    <label class="resource-label">{{localize "MWDESTINY.skills.skill"}}</label>
    <select name="system.weaponSkillType">
      {{selectOptions MWDESTINY.weaponSkillTypes localize=true selected=system.weaponSkillType}}
    </select>
  </div>
  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.combat.damageType"}}</label>
    {{#if (eq item.type "weapon")}}
    <select name="system.damageType">
      {{selectOptions (lookup MWDESTINY.damageTypes item.type) localize=true blank="N/A" selected=system.damageType}}
    </select>
    {{else}}
    <input type="text" name="system.damageType" value="{{system.damageType}}" placeholder="{{localize "MWDESTINY.combat.damageType"}}" data-dtype="String"/>
    {{/if}}
  </div>
  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.combat.special"}}:</label>
    <input type="text" name="system.special" value="{{system.special}}" placeholder="{{localize "MWDESTINY.combat.special"}}" data-dtype="String"/>
  </div>
  {{#if (eq item.type "weapon")}}
  {{> "systems/mw-destiny/templates/parts/item/personal-weapon-data.hbs"}}
  {{else}}
  {{> "systems/mw-destiny/templates/parts/item/heavy-weapon-data.hbs"}}
  {{/if}}
</div>
