<div class="flexrow">
  {{#each system.range}}
  <div class="flexcol">
    <div class="flexrow">
      <label class="resource-label">
        {{#if (eq ../item.type "weapon")}}
        {{localize (lookup ../MWDESTINY.weaponRange.personal @key)}}
        {{else}}
        {{localize (lookup ../MWDESTINY.weaponRange.heavy @key)}}
        {{/if}}
      </label>
      <input type="checkbox" name="system.range.{{@key}}.usable" {{checked usable}}/>
      <input type="number" name="system.range.{{@key}}.mod" value="{{mod}}" placeholder="{{#if usable}}OK{{else}}—{{/if}}" {{#unless usable}}disabled{{/unless}}/>
    </div>
  </div>
  {{/each}}
</div>