<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
  <div class="header-fields">
    <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name">
    </h1>
    <div class="resources grid grid-2col">
      {{!-- Row 1 --}}
      <div class="resource flex-group-center">
        <label for="system.physDamage.value" class="resource-label">{{localize "MWDESTINY.mechanic.physDamage"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.physDamage.value" value="{{system.physDamage.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.physDamage.max" value="{{system.physDamage.max}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.fatigueDamage.value" class="resource-label">{{localize "MWDESTINY.mechanic.fatigueDamage"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.fatigueDamage.value" value="{{system.fatigueDamage.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.fatigueDamage.max" value="{{system.fatigueDamage.max}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
    <div class="resource flexcol flex-group-center">
      <div class="resource-label">{{localize "MWDESTINY.bio.tags"}}</div>
      <div class="flexrow">
        {{#each system.tags}}
        <input type="text" name="system.tags.{{@index}}" data-dtype="String" value="{{this}}"/>
        {{/each}}
      </div>
    </div>
  </div>
</header>
