<form class="flexcol {{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  {{> "systems/mw-destiny/templates/actor/parts/header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is defined in pc-sheet.mjs --}}
    <a class="item" data-tab="main">{{localize "MWDESTINY.tabs.main"}}</a>
    <a class="item" data-tab="description">{{localize "MWDESTINY.tabs.description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Stats Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/mw-destiny/templates/actor/parts/tab-main.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
