<form class="flexcol {{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  {{> "systems/mw-destiny/templates/parts/pc/header.hbs"}}
  {{> "systems/mw-destiny/templates/parts/shared/tags-pane.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is defined in pc-sheet.mjs --}}
    <a class="item resource-label" data-tab="main">{{localize "MWDESTINY.tabs.main"}}</a>
    {{#if (eq actor.type "pc")}}
    <a class="item resource-label" data-tab="cues">{{localize "MWDESTINY.tabs.cues"}}</a>
    <a class="item resource-label" data-tab="history">{{localize "MWDESTINY.tabs.history"}}</a>
    <a class="item resource-label" data-tab="personality">{{localize "MWDESTINY.tabs.personality"}}</a>
    {{else}}
    <a class="item resource-label" data-tab="description">{{localize "MWDESTINY.tabs.description"}}</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Stats Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      {{> "systems/mw-destiny/templates/parts/pc/tab-main.hbs"}}
    </div>

    {{#if (eq actor.type "pc")}}
    {{!-- Cues Tab --}}
    <div class="tab cues" data-group="primary" data-tab="cues">
      {{> "systems/mw-destiny/templates/parts/pc/tab-cues.hbs"}}
    </div>

    {{!-- History Tab --}}
    <div class="tab history" data-group="primary" data-tab="history">
      {{> "systems/mw-destiny/templates/parts/pc/tab-history.hbs"}}
    </div>

    {{!-- Personality Tab --}}
    <div class="tab personality" data-group="primary" data-tab="personality">
      {{> "systems/mw-destiny/templates/parts/pc/tab-personality.hbs"}}
    </div>
    {{else}}
    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/mw-destiny/templates/parts/shared/tab-description.hbs"}}
    </div>
    {{/if}}

  </section>
</form>
