<div class="flexcol">
  <div class="flexrow">
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.combat.damage"}}</label>
      <input type="Number" name="system.baseDamage" value="{{system.baseDamage}}" data-dtype="Number"/>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.combat.stun"}}</label>
      <input type="checkbox" name="system.isStunWeapon" {{checked system.isStunWeapon}}/>
    </div>
  </div>

  <div class="flexrow">
    <div class="flexrow">
      <label class="resource-label">{{localize "MWDESTINY.combat.damageType"}}</label>
      <select name="system.damageType">
        {{selectOptions MWDESTINY.damageTypes localize=true blank="N/A" selected=system.damageType}}
      </select>
    </div>
    <div class="flexrow">
      <div class="flexrow">
        <label class="resource-label">{{localize "MWDESTINY.combat.strPowered"}}</label>
        <input type="checkbox" name="system.isStrPowered" {{checked system.isStrPowered}}/>
      </div>
    </div>
  </div>

  <div class="flexrow">
    {{#each system.range}}
    <div class="flexcol">
      <div class="flexrow">
        <label class="resource-label">{{localize (lookup ../MWDESTINY.weaponRanges @key)}}</label>
        <input type="checkbox" name="system.range.{{@key}}.usable" {{checked usable}}/>
      </div>
      <div class="flexrow">
        <label class="resource-label">{{localize "MWDESTINY.mechanic.mod"}}</label>
        <input type="number" name="system.range.{{@key}}.mod" value="{{mod}}" placeholder="0" {{#unless usable}}disabled{{/unless}}/>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="flexrow">
    <label class="resource-label">{{localize "MWDESTINY.combat.weaponSkill"}}</label>
    <select name="system.weaponSkill">
      {{selectOptions MWDESTINY.weaponSkills localize=true selected=system.weaponSkill}}
    </select>
  </div>
</div>